#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#closeButton:hover {
    background-color: lightgray;
    border-radius: 50%;
    transition: 0.5s;
}

#commentDiv {
    width: 500px;
    height: 500px;
    margin-top: 10px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commentContainer {
    width: 100%;
    height: 100%;
    max-height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.commentsContainer::-webkit-scrollbar {
  width: 6px;
}

.commentsContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.commentsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#commentInput {
    width: 370px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#commentInput:focus {
    outline: none;
    border-color: black;
}

#commentButton {
    margin-left: 10px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.6s;
}

#commentButton:hover {
    background-color: #333;
    transition: 0.6s;
    scale: 1.10;
    font-size: 18px;
}
