#photoDiv {
    width: 350px;
    height: 300px;
    border: 5px solid #ccc;
    border-radius: 20px;
    background-color: #ccc;
    margin-top: 120px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#photoDiv:hover {
    cursor: pointer;
}

#reelsDiv {
    width: 300px;
    height: 450px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #ccc;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#reelsDiv:hover {
    cursor: pointer;
}

#photoText {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
}

#reelsText {
    margin-top: 180px;
    font-size: 40px;
    font-weight: 600;
}

#photoButton {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: 600;
    transition: 0.5s;
}

#photoButton:hover, #reelsButton:hover {
    cursor: pointer;
    background-color: #333;
    transition: 0.5s;
    width: 220px;
    height: 70px;
    font-size: 30px;
}

#reelsButton {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: 600;
    transition: 0.5s;
}

#sharePhotoButton {
    width: 345px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

#sharePhotoButton:hover {
    background-color: #333;
    transition: 1s;
    width: 365px;
    height: 50px;
    font-size: 18px;
}

#shareReelButton {
    width: 345px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

#shareReelButton:hover {
    background-color: #333;
    transition: 1s;
    width: 365px;
    height: 50px;
    font-size: 18px;
}
