.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#log {
    right: 0;
    position: absolute;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#logOutButton {
    width: 160px;
    height: 45px;
    background-color: white;
    color: gray;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#logOutButton:hover {
    color: black;
    border-color: black;
    transition: 1s;
}

#deleteAccountButton {
    width: 160px;
    height: 45px;
    background-color: white;
    color: red;
    border: solid 2px red;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#deleteAccountButton:hover {
    color: white;
    border-color: red;
    transition: 1s;
    background-color: red;
}

#deleteAccountYes {
    margin-left: 100px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border-color: red;
    background-color: white;
    color: red;
    transition: 0.5s;
}

#deleteAccountYes:hover {
    transition: 0.5s;
    width: 85px;
    height: 42px;
    background-color: red;
    color: white;
    border-color: white;
    cursor: pointer;
}

#deleteAccountNo {
    margin-left: 40px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    transition: 0.5s;
}

#deleteAccountNo:hover {
    transition: 0.5s;
    width: 85px;
    height: 42px;
    background-color: black;
    color: white;
    border-color: white;
    cursor: pointer;
}