#searchBar {
    margin-top: 40px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid gray;
    padding: 0 15px;
    font-size: 20px;
    color: black;
    transition: 1s;
}

#searchBar:focus {
    outline: none;
    border: 2px solid black;
    box-shadow: 0 0 3px black;
    transition: 1s;
}

#searchText {
    margin-top: 200px;
    font-size: 70px;
    color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
}