#followButton {
    color: white;
    background-color: black;
    width: 720px;
    height: 45px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    margin-top: 30px;
    margin-left: 20px;
}

#followButton:hover {
    background-color: #333;
    transition: 0.5s;
    scale: 1.02;
    font-size: 18px;
}

#unfollowButton {
    color: black;
    background-color: white;
    width: 720px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    margin-top: 30px;
    margin-left: 20px;
}

#unfollowButton:hover {
    background-color: lightgray;
    transition: 0.5s;
    scale: 1.02;
    font-size: 18px;
}